
$menuFontSize: 1.1rem;
$largeButton: 1.2rem;
$menuToggleIcon: 1.3rem;
$headerTransparentBackground: rgba(255, 255, 255, 0.58);
$primaryGreen: #1b5958;
$menuItemHover: rgba(34, 34, 34, 0.72);
$white: #fff;
$light-grey: #d9d9d9;
$timeline-background: #fafafa;
$border: #eee;
$dark-grey: #808080;
$pink: #F93B69;
$green: #B0E8E2;
$orange: #EB8B6E;