@media only screen and (max-width: 40em) {
  #masthead.background-image-header {
    background-size: auto 120% !important;
  }

  .path-frontpage #masthead.background-image-header {
    height: 500px;
  }


  .region-header {
    .event-date {
      font-size: 3rem;
      line-height: 3rem;
    }
    .event-location {
      font-size: 1.5rem;
    }
  }

  .event-register {
    background-size: auto 100%;
    padding: 100px 0;
  }

  .about-event-items .columns {
    margin-bottom: 35px;
  }

  .event-timeline {
    padding: 0 25px;
  }

  .small-horz-padding-25 {
    padding-left: 25px;
    padding-right: 25px;
  }


  .off-canvas-wrap .menu {
    li {
      display: block;

      &.has-dropdown > a::after {
        content: '>' !important;
        font-family: 'EBI-Functional';
        font-size: 1rem;
        border: none;
        right: 10px !important;
        transform: translateY(-50%);
        top: 25%;
        width: auto;
        height: auto;
      }

      &.has-dropdown.is-active a::after {
        -webkit-transform: rotated(90deg);
        transform: rotate(90deg);
        right: -5px !important;
      }

      &.has-dropdown.is-active ul.menu {
        display: block;
      }
    }

    &.dropdown.menu > li.opens-right > .is-dropdown-submenu {
      position: relative;
      border: none;
      padding: 10px 0;
    }
  }
}
