@media only screen and (max-width: 1190px) {
  .path-frontpage #masthead.background-image-header,
  .event-register {
    background-size: auto 120% !important;
  }

  body:not(.path-frontpage) #masthead.background-image-header {
    background-size: 100% auto !important;
  }

  .dropdown.menu li a {
    padding: 0.7rem .5rem;
    font-size: 1rem;
  }

  #local-title a.site-name {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 64em) {
  div#local-title {
    margin-top: 1rem;
  }

  .off-canvas-wrap .menu {
    li {
      display: block;

      &.has-dropdown > a::after {
        content: '>' !important;
        font-family: 'EBI-Functional';
        font-size: 1rem;
        border: none;
        right: 10px !important;
        transform: translateY(-50%);
        top: 25%;
        width: auto;
        height: auto;
      }

      &.has-dropdown.is-active a::after {
        -webkit-transform: rotated(90deg);
        transform: rotate(90deg);
        right: -5px !important;
      }

      &.has-dropdown.is-active ul.menu {
        display: block;
      }
    }

    &.dropdown.menu > li.opens-right > .is-dropdown-submenu {
      position: relative;
      border: none;
      padding: 10px 0;
    }
  }
}


